<div>
    <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Statistics</h1>
        <p>This page display the number of commit per week on a repository during the last year. You can add multiple repositories to compare them. Refreshing the page will clear the entry.</p>
        <div class="alert alert-warning" ng-show="error !== ''" role="alert">{{ error }}</div>
        <form class="bs-component">
        	<div class="form-group">
        		<div class="col-lg-6">
                    
        			<label class="control-label" for="repos">Display statistics for this repository :</label>
        			<div class="input-group">
        				<input id="repos" type="text" class="form-control" placeholder="Author/RepositoryName" ng-model="repository.name">
        				<span class="input-group-btn">
            				<button class="btn btn-default" type="button" ng-click="addRepository()">+</button>
          				</span>
        			</div><!-- /input-group -->
    			</div><!-- /.col-lg-6 -->
        	</div>
        </form>
        <div class="col-lg-12">
            <p>If you need examples you can try <a href="https://github.com/trending" target="_blank">these trending repositories</a>.</p>
        </div>
    </div>


    <div id="graph"></div>
    <div ng-repeat="name in names">{{ $index + 1 }} {{ name }}</div>
</div>